$primary = #00796b
$secondary = #b71c1c
$accent = #ff8f00
$background = #212121
$error = #d81b60

$title-on-dark = #f0f0f0
$title-on-light = #0f0f0f
$subtitle-on-dark = #ababab
$subtitle-on-light = #646464
$body-on-dark = #e0e0e0
$body-on-light = #1a1a1a
$input-on-dark = #eeeeee
$input-on-light = #111111

$input-card = #212121
$input-hover = #656565
$input-focus = $primary

$cardrad = 24px

.translucent-back
    background-color: rgba(40, 40, 40, 0.5)
